[production]

[development]
localhost ansible_connection=local

[all:children]
production
development

[all:vars]
# project_name=
site_root=~/workspace/{{ inst_name }}
# repository_url=git@github.com:---/{{ project_name }}

[development:vars]
deployment=development

[production:vars]
deployment=production
# remote_user=
